   <!-- MENU ENCABEZADO -->
<router-outlet></router-outlet>
<div class="contenedor-header">
    <header>
        <div class="logo">
            <a routerLink="/inicio">Arg programa - MyPF</a>
        </div>
        <nav id="nav">
            <ul>
                <li><a routerLink="/inicio" >INICIO</a></li>
                <li><a routerLink="/sobre-mi" >SOBRE MI</a></li>
                <li><a routerLink="/curriculum" >CURRICULUM</a></li>
                <li><a routerLink="/skills" >HABILIDADES</a></li>
                <li><a routerLink="/proyectos" >PROYECTOS</a></li>
            </ul>
        </nav>
        <nav id="navRedes">
            <!-- HACER QUE REDIRECCIONE A REDES -->
            <ul>
                <li><a href="https://www.linkedin.com/in/ezequiel-díaz-7bb7a9171/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>                  
                <li><a href="https://www.discordapp.com/users/Elese#0236" target="_blank"><i class="fa-brands fa-discord"></i></a></li>
                <li><a href="https://www.instagram.com/eze_diaz17/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>
    </header>
</div> 


    <!-- footer -->
    <footer>
        <a href="#inicio">
            <i class=></i>
        </a>
        
    </footer>