   <!-- SECCION SOBRE MI -->
   <section id="sobremi" class="sobremi">
    <div class="contenido-seccion">
        <h2>Sobre Mí</h2>
       <div class="contenedor-info">
        <div>
            <p><strong>Hola, soy Ezequiel Díaz.</strong> 
                Tengo 22 años, actualmente resido en Buenos Aires, Argentina. 
                Me intruí por el lado de la medicina pero siempre tuve un interes por la informatica y la programación, 
                me considero una persona responsable con una actitud positiva y 
                siempre dispuesto a aprender para mejorar en el ambito en el que me desarrolle y capacite.  </p>
        </div>
       </div>  

        <div class="fila">
            <!-- datos personales -->
            
            <div class="col">
                <h3>Datos Personales</h3>
                        <ul >
                             <li *ngFor="let datos of datosList">
                            <strong>{{datos.dato}}</strong>
                            {{datos.info}}
                        </li>
                        </ul>
            </div>

            <!-- intereses -->
            <div class= "col">
                <h3>Intereses</h3>
                <div class= "contenedor-intereses">
                    <div class= "interes" *ngFor="let intereses of interesesList">
                        <i class= {{intereses.logo}}></i>
                        <span>{{intereses.intNombre}}</span>
                    </div>
                </div>

            </div>
        </div>
        
            <div class= "boton">
                <a href="assets/cv/Ezequiel Diaz.pdf" class="descarga" target="_blank">DESCARGAR</a> <i class="fa-solid fa-download"></i>
                <span class="overlay"></span>
            </div>
          
    </div>
</section>